# Created by .ignore support plugin (hsz.mobi)
.idea/
my-app/.gitignore
my-app/package.json
my-app/public/
my-app/src/App.css
my-app/src/App.js
my-app/src/App.test.js
my-app/src/index.css
my-app/src/index.js
my-app/src/logo.svg
my-app/src/registerServiceWorker.js
npm-debug.log
