.list-item {
    border: 2px solid grey;
    height: 150px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 20px;
}

.list-item:nth-child(3n) {
    margin-right: 0;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    max-height: 100%;
}

.list-item.hover {
    border-style: dashed;
    background-color: rgba(248, 253, 167, 0.59);
}